# Cache, session files and logs
/var/cache/*
/var/logs/*

# Parameters
/config/dev.php
/config/prod.php

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/vendor/

# Assets and user uploads
/web/uploads/
# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/phpunit.xml

# Mac
.DS_Store

# PHPStorm
.idea/
